<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ouc.dcrm.system.dao.ReasonDao" >
  <resultMap id="BaseResultMap" type="Reason" >
    <id column="reasonId" property="reasonid" jdbcType="INTEGER" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="TINYINT" />
    <result column="type" property="type" jdbcType="TINYINT" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    reasonId, description, level, type
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from reason
    where reasonId = #{reasonid,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from reason
    where reasonId = #{reasonid,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="Reason" >
    insert into reason (reasonId, description, level, 
      type)
    values (#{reasonid,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR}, #{level,jdbcType=TINYINT}, 
      #{type,jdbcType=TINYINT})
  </insert>
  
  <insert id="insertSelective" parameterType="Reason" >
    insert into reason
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="reasonid != null" >
        reasonId,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="type != null" >
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="reasonid != null" >
        #{reasonid,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        #{level,jdbcType=TINYINT},
      </if>
      <if test="type != null" >
        #{type,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="Reason" >
    update reason
    <set >
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=TINYINT},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=TINYINT},
      </if>
    </set>
    where reasonId = #{reasonid,jdbcType=INTEGER}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="Reason" >
    update reason
    set description = #{description,jdbcType=VARCHAR},
      level = #{level,jdbcType=TINYINT},
      type = #{type,jdbcType=TINYINT}
    where reasonId = #{reasonid,jdbcType=INTEGER}
  </update>
</mapper>