@charset "utf-8";

#queryBar {
	margin: 5px 0px;
	width: 100%;
	height: 30px;
}

#alertsTable {
	width: 100%;
	height: 500px;
	text-align:center;
}

#alertInfosTab {
	margin: 5px 20px;
	width: 96%;
	height: 400px;
}
#alertInfosTab tr {
	height: 5px;
}
#alertInfosTab td {
	border:1px solid #fff;
} 

#alertInfosPage {
	width: 100%;
	height: 30px;
	text-align:center;
}
