<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:rabbit="http://www.springframework.org/schema/rabbit"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
     http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
     http://www.springframework.org/schema/rabbit
     http://www.springframework.org/schema/rabbit/spring-rabbit-1.0.xsd">
	
	<!--配置connection-factory，指定连接rabbit server参数 -->
	<rabbit:connection-factory id="connectionFactory"
		username="#{app.rabbitMQUsername}" password="#{app.rabbitMQPassword}" 
		host="#{app.rabbitMQHost}" port="#{app.rabbitMQPort}" />
		
	<!--定义rabbit template用于数据的接收和发送 -->
	<rabbit:template id="amqpTemplate"  connection-factory="connectionFactory" 
	    exchange="exchangeTest" />
		
	<!--通过指定下面的admin信息，当前producer中的exchange和queue会在rabbitmq服务器上自动生成 -->
	<rabbit:admin connection-factory="connectionFactory" />

	<!--定义queue --> 
	<!-- durable:是否持久化; exclusive: 仅创建者可以使用的私有队列，断开后自动删除
       auto_delete: 当所有消费客户端连接断开后，是否自动删除队列   -->
	<rabbit:queue id="queueTest" name="queueTest" durable="true" auto-delete="false" exclusive="false" />

	<!-- 定义direct exchange，绑定queueTest -->
	<!-- rabbit:direct-exchange：定义exchange模式为direct，意思就是消息与一个特定的路由键完全匹配，才会转发。 
       rabbit:binding：设置消息queue匹配的key -->
	<rabbit:direct-exchange name="exchangeTest" durable="true" auto-delete="false">
		<rabbit:bindings>
			<rabbit:binding queue="queueTest" key="queueTestKey"></rabbit:binding>
		</rabbit:bindings>
	</rabbit:direct-exchange>
	
	<!-- 消息生产者 -->
	<bean id="messageProducer" class="com.ouc.dcrms.core.rmq.MessageProducerImpl"></bean>
	
	<!-- 消息接收者 -->
	<bean id="messageReceiver" class="com.ouc.dcrms.core.rmq.MessageConsumer"></bean>
	
	<!-- queue litener  观察-监听模式,当有消息到达时会通知监听在对应的队列上的监听对象-->
	<!-- queues：监听的队列，多个的话用逗号(,)分隔;  ref：监听器  -->
    <rabbit:listener-container connection-factory="connectionFactory">
        <rabbit:listener queues="queueTest" ref="messageReceiver"/>
    </rabbit:listener-container>
	
</beans>